<!DOCTYPE html>

<html>
  <head>

    <!-- Setup -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/profile_picture_cropped.png" />
    <title>{{ page.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" >

    <!-- Scripts -->
    <script src="{{ site.baseurl }}/script/bootstrap"></script>
    <script src="{{ site.baseurl }}/script/cibuild"></script>
    <script src="{{ site.baseurl }}/script/release"></script>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <div id="header">
      <nav>
        <ul id="menu" display="inline">
          <li><a href="{{ site.author.linkedin }}" target="_blank"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
          <li><a href="{{ site.author.github }}" target="_blank"><span class="fa fa-github"></span> GitHub</a></li>
          <li><a href="{{ site.author.email }}" ><span class="fa fa-envelope-o"></span> Email</a></li>
          <li><a href="{{ site.author.facebook }}" target="_blank"><span class="fa fa-facebook"></span> Facebook</a></li>
          <li><a href="{{ site.author.resume }}" target="_blank"><span class="fa fa-file-text-o"></span> Resume</a></li>
        </ul>
      </nav>
    </div>

    <img src="{{ site.baseurl }}/assets/images/HeadShot.jpg" alt="Sarah Elkins" style="border-radius:50%; display:block; margin:auto;" width="200" height="200">

    <div id="title"><!-- Title Section -->
      <h1>{{ page.Title }}</h1>
      <p>{{ page.subtitle }}</p>
      <h6 align="middle"><a href="{{ site.url }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></h6>
      <hr>
      <span class="credits left">
        <ul>
          <li>Page <i class="fa fa-code"></i> located on <a href="{{ site.code }}" target="_blank"><i class="fa fa-github"></i> GitHub</a></li>
          <li><a href="{{ site.baseurl }}/philosophy.html"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Team Philosophy</a></li>
        </ul>
      </span>
      <span class="credits right">
        <ul>
          <li><i><a href="{{ site.author.markdown }}">Switch to Markdown Profile</a></i></li>
          <li><a href="{{ site.baseurl }}/credits.html"><i class="fa fa-id-card-o"></i> Credits</a></li>
        </ul>
      </span>
    </div>
  
  </head>

  <body>
